/*Esta es la clase que utilizamos en la formna de login
probablemente la utilicemos luego por las dem'as formas*/
.form-group{
    max-width: 400px;
    margin: 0 auto;
    margin-top: 200px;
    
}
.form-group{
   max-width: 400px;
   margin: 0 auto;
   margin-top: 200px;
   
}
/*Esto fue para separar el botón de ingresar*/
.form-control {
    margin-bottom: 3px;
  }
 #btnmedio{
    text-align: center;
 }
/*Esta es la clase footer para poder centralizar el 
footer y ponerlo fixed*/
/*cambié position a sticky para que se vea encima de las fotos junto con display: inline-block*/
 .footer{
    display: unset;
    text-align: center;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #172727;
    color: white; 
 }
 #idFooterIndex{
    position: sticky;
<<<<<<< HEAD
    display: inline-block  
=======
    display: inline-block;
>>>>>>> 87f0e8e14b7e118929db7085b9af084d8ad2f814
 }
 /*Clase para el carousel*/
 .carousel-item img
 /*Encontré en stack overflow que podemos
 elegir el item que es*/
   {
   border-radius: 60px;
   background-size: contain;
   height: auto;
   width: auto;
   }
